.container {
  padding-inline: 1.5rem;

  @media (min-width: $tablet) {
    padding-inline: 2.5rem;
  }

  @media (min-width: $desktop) {
    padding-inline: 10rem;
  }
}

.font-link {
  text-transform: uppercase;
  font: $font-body;
  letter-spacing: 2.5px;
  font-weight: 700;

  @media (min-width: $tablet) {
    font: $font-h4;
  }
}

.font-h1-h2 {
  font: $font-h1-h2;
  letter-spacing: 4.17px;
  text-transform: uppercase;
}

.font-h2 {
  font: $font-h2;
}

.font-h3 {
  font: $font-h3;
}

.font-h4 {
  font: $font-h4;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

.font-body {
  font: $font-body;
}

.btn {
  border: none;
  background: transparent;
  cursor: pointer;
  @extend .font-link;

  @media (min-width: $tablet) {
    font: $font-h4;
  }

  &--icon {
    height: 1.8rem;
  }

  &--normal {
    padding: 0.75rem 2.75rem;

    &--dark {
      background-color: $clr-black;
      color: $clr-white;
    }

    &--light {
      background-color: $clr-white;
      color: $clr-black;
    }

    @media (min-width: $tablet) {
      padding-inline: 1.5rem;
    }
  }
}
