// Colors
// Primary Color
$clr-main-1: #ffc593;
$clr-main-2: #bc7198;
$clr-main-3: #5a77ff;

// Neutral Colors
$clr-black: #000;
$clr-white: #fff;
$clr-grey: #dfdfdf;

// Typography
$font-h1-h2: bold 2.5rem/3rem 'DM Sans';
$font-h2: bold 1.5rem/1.56rem 'DM Sans';
$font-h3: bold 1.125rem/1.56rem 'DM Sans';
$font-h4: bold 0.75rem/1rem 'DM Sans';
$font-body: regular 0.93rem/1.56rem 'DM Sans';

$tablet: 768px;
$desktop: 1025px;
