// Colors
// Primary Color
$clr-main-1: #ffc593;
$clr-main-2: #bc7198;
$clr-main-3: #5a77ff;

// Neutral Colors
$clr-black: #000;
$clr-white: #fff;
$clr-grey: #dfdfdf;

// Typography
$font-h1-h2: '';
$font-h2: '';
$font-h3: '';
$font-h3: '';
$font-body: 400 15px 'DM Sans';
